@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
}
.box{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}
.box header{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.box .inputF{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputF input{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.inputF button{
    width: 70px;
    height: 100%;
    border: none;
    outline: none;
    background: #008080;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}
.inputF button.active{
    opacity: 1;
    pointer-events:auto ;
}
.box .todoList{
    max-height: 250px;
    overflow-y: auto;
}
.todoList li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}
.todoList li span{
    position: absolute;
    right: -45px;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background: #e74c3c;
    cursor: pointer;
    transition: all 0.3s ease;
}
.todoList li:hover span{
    right: 0px;
}
.box .footer{
    display: flex;
    width: 100%;align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.footer button{
    border: none;
    outline: none;
    background: #8e49e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}
.footer button.active{
    opacity: 1;
    pointer-events:auto ;
}


